@page "{id:int?}"
@model TaskList.Pages.Tasks.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Task</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Task.TaskDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Task.TaskDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Task.DueDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Task.DueDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Task.Priority)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Task.Priority)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Task.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
